{% extends "main.html" %}

{% block htmltitle %}
  <title>404 - Page not found · {{ config.site_name }}</title>
{% endblock %}

{% block content %}
  <article class="md-content__inner md-typeset">
    <h1>Error 404: Page not found</h1>

    <p>The page you’re looking for doesn’t exist or has been moved.</p>

    <p>This may happen if:</p>
    <ul>
      <li>the URL has changed</li>
      <li>the content was reorganized</li>
      <li>the link is outdated</li>
    </ul>

    <hr>

    <h2>What you can do</h2>
    <ul>
      <li>Go back to the <a href="{{ '' | url }}">home page</a></li>
      <li>Browse the <a href="{{ 'case-studies/importspy/overview/' | url }}">case studies</a></li>
      <li>View my <a href="{{ 'profile/' | url }}">technical profile</a></li>
      <li>Check the <a href="{{ 'cv/' | url }}">curriculum vitae</a></li>
    </ul>

    <hr>

    <p>If you followed a broken link or believe this page should exist, feel free to contact me.</p>
  </article>
{% endblock %}
