# MkDocs build output
site/

# MkDocs cache
.mkdocs_cache/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock
.cache/pypoetry/

# Pip
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
.virtualenv/
.pyenv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
